# OG ToyKeeper anduril:   
.build/
.env/
.venv/
.*.swo
.*.swp
arch/dfp/
env/
hex/
ignore/
old/
releases/
venv/
*~
*.cpp
*.elf
*.hex
*.html
*.o
*.old
*.otl



###   ###   ###   ###   ###   



# additional:   
.build-anduril/
anduril-mods/
anduril-mod/
AVRDUDE-v8.0/
bin-mods/
bin-mod/
dfp/
hw-mods/
hw-mod/
*--/
*--
*--*
*--OG--*
*.ps1




























